*{
    padding:0;
    margin:0;
}

body{
    text-align:center;
}
.box-area1{
    width:100%;
    height:600px;
    background-color:black;
    background-image: url('animated.gif');
    background-repeat: no-repeat;
    background-position-x: 57%;
    background-position-y:50%;
    margin-top:0;
   
}

header{
    background-color:black;
    width:100%;
    height:100px;
    

}

    header{
        position: fixed;
    }
 .header-nav{
    text-decoration: none;
    line-height:50px;
    float:left;
    
    font-family:verdana;

    font-size: 20px;
    border:solid;
    padding:0;   
    margin-right:30px;
    margin-top:40px;
    height:50px;
    border-radius:80px;
    width:100px;
   border-color:white;
   color:white;
   

    
}
.header-nav:hover{
    background-color:rgb(100, 182, 100);
}
.content-area2{
    color:white;
    font-size: 100px;
    font-family:monospace;
    line-height:500px;
    height:600px;
  
    
    

}

.offcanvas-body{
    background-color:rgb(59, 50, 50);
}

/* .navdown{
    line-height:50px;
    float:left;
    margin-top:40px;
    border-radius:80px;
} */

.blink_me {
    animation: blinker 2s linear infinite;
  }
  
  .blink_me{ @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
}

  .nature{
      background-image:url('nature.jpg');
      background-size: cover;
      width:100%;
      height:700px;
  } 